
<div class="row text-center">
  <div class="lg-md-12 text-box">
    <div class="post-form">
      <%= bootstrap_form_for @post do |f| %>
        <%= f.text_area :body, size:  "50x5", required: true %>
        <%= f.submit "Post" %>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="posts-area">
    <div class="post-details">
      <% current_user.posts.each do |post| %>
       <div class="user-name"><a> <%= current_user.first_name %> <%= current_user.last_name %></a></div><br>
        <div class="post-body"><%= post.body %>

          <div class="comments-form">
            <%= bootstrap_form_for [post, @comment] do |f| %>
              <%= f.text_area :description, size: "20x2",required: true %>
              <div class="comment-like-btns">
                <div class="pull-left comment"><%= f.submit "Comment" %></div>
            <%end%>
                <div class="comments-count pull right"><%= post.comments.count if post.comments.count != 0 %></div>
                <% if Like.has_liked?(current_user.id, post.id) %>

                  <div class="pull-left liked"><%= button_to 'liked', post_like_path(post, Like.where(user: current_user, post_id: post.id).first), method: :delete %></div>
                <% else %>
                  <div class="pull-left like"><%= button_to [post, @like] do %>
                    Like
                  </div><%end%>

                <% end %>

                <%= post.likes.count if post.likes.count != 0 %>
              </div>
          </div><br><br>
          <div class="comments-details">
            <% post.comments.each do |comment| %>
              <li><%=comment.description %></li>
            <%end%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
