
<div class="row text-center">
  <div class="lg-md-12 text-box">
    <div class="post-form">
      <%= bootstrap_form_for @post do |f| %>
        <%= f.text_area :body, size:  "50x5", required: true %>
        <%= f.submit "Post" %>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="posts-area">
    <div class="post-details">
      <% current_user.posts.each do |post| %>
       <div class="user-name"><a> <%= current_user.first_name %> <%= current_user.last_name %></a></div><br>
        <div class="post-body"><%= post.body %>

          <div class="comments-form">
            <%= bootstrap_form_for [post, @comment] do |f| %>
              <div class="comment-area">
                <%= f.text_area :description, size: "20x2",required: true %>
              </div>
              <%= f.submit "Comment" %><br>


                  <%= post.comments.each do |comment| %>
                    <li><%=comment.description %></li>
                  <%end%>

            <% end %>

          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
