  <div class="row">
    <div class="col-md-3 text-center">
    <h4 class="text-center">Group Admin</h4>
      <ul>
       <li class="nav-image"><%=link_to (image_tag @group.name, class: "img-circle nav-image", size:'30x30') %>
       </li>
      </ul>
      <h3>About</h3>
      <p><%= @group.description%></p>
      <h3>Topics </h3>
      <p><%= @group.topics%></p>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="group-wrapper">
        <div class="group-header">
          <h1 class="text-center"><%= @group.name %></h1>
          <p class="text-center"><%= @group.goal%></p>
        </div>
        <div class="row group-stats">
          <div class="stat col-md-2  col-xs-12">
            <div class="followers"><a href ="/groupposts/<%=@group.id %>"> Posts </a></div>
            <div class="count"><%= @group.groupposts.count %></div>
          </div>
          <div class="stat col-md-2   col-xs-12">
            <div class="followers">Members</div>
            <div class="count"><%= @group.users.count %></div>
          </div>

          <div class="stat col-md-2   col-xs-12">
            <div class="followers">Followers</div>
            <div class="count"><%= @group.groupfollowers.count %></div>
          </div>

          <div class="action-btn col-md-3   col-xs-12">
            <div class="followers"><%= render partial: 'groups/join_form', locals: {group: @group}%>
            </div>
          </div>
          <div class="action-btn col-md-3   col-xs-12">
            <div class="followers"><%= render partial: 'groups/groupfollow_form', locals: {group: @group}%>
            </div>
          </div>
        </div>
      </div>
      <%if current_user %>
        <% if Membership.is_member?(current_user, @group)%>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <%=bootstrap_form_for [current_user, @group, @grouppost], html: {class: "form center-block"} do |f| %>
                <div class="form-group">
                  <%= f.text_area :body, hide_label: true, required: true, placeholder: "paste a link, create a post, post a update, etc", autofocus: "", class: "form-control" %>
                </div>
                <%= f.submit "Post", class: "btn btn-success btn-large" %>
              <%end%>
            </div>
          </div>
        <%end%>
      <%end%>

      <%= render 'users/group_posts'%>
      </div>
    </div>
 </div>

