<div class="posts-area">
  <div class= "row">
    <%@suggested_users.order(created_at: :desc).limit(10).each do |user| %>
    <div class="likeminded col-lg-8">
      <div class="basic_info span4">
        <ul class="span4">
          <li><a class="user-name" href="/users/<%=user.id%>"><%= user.first_name %> <%=user.last_name %></a></li>
          <li class=""></li>
          <li><%=user.category.name%></li>
          <li><%= user.location%></li>
        </ul>
        <div class=" tex-center">
          <%= image_tag user.avatar.url(:thumb), :class => "img-circle text-center"%>
        </div>

      </div>
      <div class="span4 pull-right">
       <% if current_user.following?(user) %>
          <%=form_for(current_user.relationships.find_by(followed_id: user.id),
             html: { method: :delete }, remote: true) do |f| %>
          <%=f.submit "Following", class: "btn-success btn-large" %>
          <% end %>
         <%else%>
          <div class="followers">
            <%= form_for(current_user.relationships.build(followed_id: user.id), remote: true) do |f| %>
            <%= f.hidden_field :followed_id %>
            <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
            <% end %>
          </div>
          <%end%>
      </div><hr>
    </div>
    <%end%>
  </div>
</div>

