

<div class="followers-box stat pull-left">
  <div class="text-center followers"><%= @user.followers.count || 0 %></div>
  <div class="text-left small uppercase"><a href="<%= followers_user_path(current_user) %>">Followers</a></div>
</div>

<div class="following-box stat pull-left">
  <div class="text-center following"><%= @user.followed_users.count || 0 %></div>
  <div class="text-center small uppercase"><a href="<%= following_user_path(current_user) %>">Following</a></div>
</div>

<div class="contributions-box stat pull-left">
  <div class="text-center"><%= @user.posts.count ||= 0 %></div>
  <div class="text-center small uppercase">posts</div>
</div>

<div class="Points-box stat pull-left">
  <div class="text-center"> <%= @user.points.count ||= 0 %></div>
  <div class="text-center small uppercase">Points</div>
</div>

<div class="favorites-box stat pull-left">
  <div class="text-center">0</div>
  <div class="text-center small uppercase">Favorites</div>
</div>


