<div class="row">
  <aside class="aside pull-right suggested-users">
    <ul>
    <%if current_user == @user %>
      <h3><%= link_to 'Like Minded', new_user_subject_path(current_user)%></h3>
      <%= render 'users/suggested_users'%>
    <%end%>
  </aside>
  <div class="posts-area">
    <div class="post-details">
      <% @feed_posts.order(created_at: :desc).each do |post| %>
        <div class="post">
          <div class="poster">
            <div class="image-for-poster pull-left"><%=link_to (image_tag @user.avatar.url(:thumb), class: "img-circle ", size:'50x50'), user_path(current_user) %></div>
            <div class="post-image-n-time">
              <div class="user-name"><%= link_to "#{post.user.last_name} #{post.user.last_name}", user_path(@user) %></div>
              <div class="time">posted on <%=post.created_at.strftime("%B %d, %Y, %I:%M %p ") %></div>
            </div>
          </div>

          <div class="post-body"><%= post.body %>
            <ul class="count-comments-n-likes">
            <li><%= render partial: 'users/like_form', locals: {post: post}%></li>
             <li class="likes">
                <span class='likes-count'><%= (post.comments.count) || post.comments.count = 0 %></span> Comments
              </li>
              <li class="comments"><%= (post.likes.count) || post.likes.count = 0 %> likes</li>
            </ul>

            <div class="comments-form">
              <%= render partial: 'users/comments_form', locals: {post: post} %>
            </div><br><!-- Comments form ends here -->
            <div class="comments-details row">

              <ul id="comment-for-post">
                <% post.comments.each do |comment| %>
                  <li><%=comment.description%></li>
                <%end%>
              </ul>
            </div>
          </div><!-- Post body ends here-->
        </div><!-- post -->
        <%end%>
    </div>
  </div>
</div>
