e<div class="row">
  <div class="posts-area">
    <div class="post-details">
      <% current_user.posts.order(created_at: :desc).each do |post| %>
      <div class="poster">
        <div class="image-for-poster pull-left"><%= image_tag current_user.avatar.url(:thumbnail), class: "img-circle post-avatar"%></div>
        <div class="post-image-n-time">
          <div class="user-name"><a> <%= current_user.first_name %> <%= current_user.last_name %></a></div>
          <div class="time">posted on <%=post.created_at.strftime("%B %d, %Y, %I:%M %p ") %></div>
        </div>
      </div>
        <div class="post-body"><%= post.body %>
            <ul class="count-comments-n-likes">
            <li><%= render partial: 'users/like_form', locals: {post: post}%></li>
             <li class="likes">
                <span class='likes-count'><%= (post.comments.count) || post.comments.count = 0 %></span> Comments
              </li>
              <li class="comments"><%= (post.likes.count) || post.likes.count = 0 %> likes</li>
            </ul>

            <div class="comments-form">
              <%= render partial: 'users/comments_form', locals: {post: post} %>
            </div><br><!-- Comments form ends here -->
            <%if post.comments.any?%>
              <div class="comments-details row">
                <ul id="comment-for-post">
                  <% post.comments.each do |comment| %>
                    <li>
                      <aside class="commenter-image pull-left">
                        <%=link_to (image_tag post.user.avatar.url(:thumb), class: "img-circle ", size:'40x40'), user_path(current_user) %>
                      </aside>
                        <%=link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(@user) %>
                        <div class="time">posted on <%=post.created_at.strftime("%B %d, %Y, %I:%M %p ") %></div>
                        <div class="description"><%=comment.description%></div>
                    </li>
                  <%end%>
                </ul>
              </div>
            <%end%>
          </div><!-- Post body ends here-->
        </div>
      <%end%>
    </div>
  </div>
</div>
