<div class="row">
  <aside class="aside pull-right suggested-users">
    <ul>
    <%if current_user %>
      <h3><%= link_to 'Like Minded', new_user_subject_path(current_user)%></h3>
      <%= render 'users/suggested_users'%>
    <%end%>
  </aside>
  <div class="posts-area">
    <div class="post-details">
      <% current_user.posts.order(created_at: :desc).each do |post| %>
        <div class="post">
          <div class="poster">
            <div class="image-for-poster pull-left"><%= image_tag current_user.avatar.url(:thumbnail), class: "img-circle post-avatar"%></div>
            <div class="post-image-n-time">
              <div class="user-name"><a> <%= current_user.first_name %> <%= current_user.last_name %></a></div>
              <div class="time">posted on <%=post.created_at.strftime("%B %d, %Y, %I:%M %p ") %></div>
            </div>
          </div>
          <div class="post-body"><%= post.body %>
            <ul class="count-comments-n-likes">
             <li class="likes">
                <span class='likes-count'><%= (post.comments.count) || post.likes.count = 0 %></span> Comments
              </li>
              <li class="comments"><%= (post.likes.count) || post.likes.count = 0 %> likes</li>
            </ul>
            <div class="comments-form">
              <div class="comments-form">
              <%= render partial: 'users/comments_form', locals: {post: post} %>
                  <% if Like.has_liked?(current_user.id, post.id) %>
                    <div class="pull-left liked"><%= button_to 'liked', post_like_path(post, Like.where(user: current_user, post_id: post.id).first), method: :delete %></div>
                  <% else %>
                    <div class="pull-left like"><%= button_to [post, @like], html:{class: "btn btn-lg"} do %>
                    Like
                    </div><%end%>
                  <% end %>
                </div>
            </div><br><br>
            <div class="comments-details">
              <ul id="comment-for-post">
                <% post.comments.each do |comment| %>
                  <li><%=comment.description%></li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <%end%>
    </div>
  </div>
</div>
