
<div class="wrapper">
  <div class="row">
    <aside class="aside pull-right">
      <ul>
        <li><a class="btn btn-success btn-lg" data-toggle="modal" data-target="#postModal">  Make New Post</a>
          <%= render 'users/post_form' %>
        </li>
      </ul>
      </aside>
    <div class="dashboard">
        <div class="user-info">
          <div class="row text-center stats">
            <div class="user-av span2 pull-left">
              <div class="useravatar"><%= image_tag current_user.avatar.url(:thumb), :class => "img-circle"%></div>
              <ul>
                <li><a class="user-name" href="/users"><%= current_user.first_name %> <%=current_user.last_name %></a></li>
                <li class=""> </i></li>
              </ul>
            </div>

            <div class="followers-box stat pull-left">
              <div class="text-center"><%= current_user.following_users.count || 0 %></div>
              <div class="text-left small uppercase">Followers</div>
            </div>

            <div class="following-box stat pull-left">
              <div class="text-center"><%= current_user.followed_users.count || 0 %></div>
              <div class="text-center small uppercase">Following</div>
            </div>

            <div class="stats-right span4 pull-left">
              <div class="contributions-box stat pull-right">
                <div class="text-center"><%= current_user.posts.count || current_user.posts.count = 0 %></div>
                <div class="text-center small uppercase">Contributions</div>
              </div>
              <div class="Points-box stat pull-right">
                <div class="text-center"> <%= current_user.points.count || current_user.points.count = 0 %></div>
                <div class="text-center small uppercase">Points</div>
              </div>
              <div class="favorites-box stat pull-right">
                <div class="text-center">0</div>
                <div class="text-center small uppercase">Favorites</div>
              </div>
            </div>
          </div>

          <div class="row action-buttons text-center">
            <ul>
              <li class="btn">Follow</li>
              <li class="btn">Credit</li>
              <li class="btn">Contriubtions</li>
            </ul>
          </div>
        </div><!--end of user information div -->
    </div>
  </div>

  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Trends</a></li>
    <li><a href="#members" role="tab" data-toggle="tab">My Posts</a></li>
    <li><a href="#home" role="tab" data-toggle="tab">Liked Minded People</a></li>
    <li><a href="#members" role="tab" data-toggle="tab">Favorites</a></li>
  </ul>

  <div class="tab-content">
  <div class="tab-pane active" id="home">
    <%= render 'users/user_home' %>
  </div>
  <div class="tab-pane" id="profile"></div>
  <div class="tab-pane" id="messages"></div>
  <div class="tab-pane" id="members">
    <div class="all-members">
      <% @members.each do |member| %>
      <li><%= link_to "#{member.first_name} #{member.last_name}", member_path(member)%></li>
      <%end%>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>


  <!-- posts area-->

</div>

