<div class="wrapper">
  <div class="content">
    <aside class="aside pull-right">
        <ul>
          <li><a class="btn btn-success btn-lg" data-toggle="modal" data-target="#postModal"> + Make New Post</a>
            <%= render 'users/post_form' %>
          </li>
        </ul>
      </aside>
    <div class="row">
      <div class="dashboard">
        <div class="user-info">
          <div class="row text-center stats">
            <div class="user-av span2 pull-left">
              <div class="useravatar"><%= image_tag current_user.avatar.url(:thumb), :class => "img-circle"%></div>
              <ul>
                <li><a class="user-name" href="/users"><%= current_user.first_name %> <%=current_user.last_name %></a></li>
                <li class=""></li>
                <li><%=current_user.category.name%></li>
                <li><%= current_user.location%>
              </ul>
            </div>

            <div class="">
              <%=render 'users/stats'%>
            </div>
          </div>

          <div class="row action-buttons text-center">
            <ul>
              <li class="btn">Follow</li>
              <li class="btn">Credit</li>
              <li class="btn">Full Profile</li>
            </ul>
          </div>
        </div><!--end of user information div -->
      </div><!-- dashboard-->
    </div>

    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#trends" role="tab" data-toggle="tab">Feed</a></li>
      <li class="home"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
      <li class="membes"><a href="#members" role="tab" data-toggle="tab">Like minded People</a></li>
      <li class="questions"><a href="#questions" role="tab" data-toggle="tab"> Trending </a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="trends">
        <%= render 'users/trends'%>
      </div>
      <div class="tab-pane fade" id="home">
        <%= render 'users/user_posts'  %>
      </div>
       <div class="tab-pane fade" id="members">
        <%= render 'users/members'  %>
      </div>
      <div class="tab-pane fade" id="questions">
        <%= render 'users/questions'%>
      </div>
    </div><!-- Tab content ends here-->
  </div>
</div>
