<div class="wrapper">
  <aside class="aside pull-right">
      <ul>
      <%if current_user == @user %>
        <h3>Learning</h3>
        <ul>
          <li>Java</li>
          <li>Javacript</li>
          <li>English</li>
          <li>Math</li>
        </ul>
      <%else%>
      <%end%>
      </aside>
  <div class="row">
    <div class="dashboard">
        <div class="user-info">
          <div class="row text-center stats">
            <div class="user-av span2 pull-left">
              <div class="useravatar"><%= image_tag @user.avatar.url(:thumbnail),class: "img-circle" %></div>
              <ul>
                <li><a class="user-name" href="/users"><%= @user.first_name %> <%=@user.last_name %></a></li>
                <li class=""><%= @user.category.name%> </li>
                <li><%= @user.location %></li>
              </ul>
            </div>
            <div class="stats_here">
              <%= render "users/stats"%>
            </div>
          </div>

          <div class="row action-buttons text-center">
            <ul class="col-md-12 col-sm-12 col-xs-12">
            <%if current_user != @user %>
              <li class="btn"><%= render 'users/follow_form'%></li>
              <li class="btn"><%= render 'users/credit'%></li>
            <%else%>
              <li><a class="btn btn-success">View Profile</a></li>
              <li><a class="btn btn-success " data-toggle="modal" data-target="#postModal"> +New Post</a>
                <%= render 'users/post_form' %>
              </li>
            <%end%>
            </ul>
          </div>
        </div><!--end of user information div -->
    </div>
  </div>
  <%if current_user == @user%>
    <%= render 'users/user_nav'%>
  <%else%>
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Posts</a></li>
    </ul>
  <%end%>

  <!-- posts area-->
</div>

