


<div id="landing-page" class="carousel slide"><!-- class of slide for animation -->

  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/classphot.jpg" alt="" />
    </div>

    <div class="item">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/class-photo5.JPG" alt="" />
    </div>

    <div class="item">
      <img src="https://s3-us-west-2.amazonaws.com/rushbase-development/highfive.jpg" alt="" />
    </div>

  </div><!-- /.carousel-inner -->

</div><!-- /.carousel -->

<div class="carousel-caption">
  <p> checking if this prints on</p>
</div>

<div id="how" class="page-section">
  <div class="container">
    <h2 class="text-center">How it works</h2>
    <ul class="text-center">
      <li>Sign up and choose a major/Industry that you are pursuing</li>
      <li>Enter what you are currently learning or your interests</li>
      <li>You will be suggested like minded people to connect with based on your major or what you are currently learning</li>
      <li>Start sharing relevant information you find useful online with your followers </li>
      <li>Search and follow more people in your major and keep learning</li>
        <% if current_user %>
        <%= link_to "sign out", signout_path, id: "sign_out", class: 'login-link' %>
       <% else %>
       <%= link_to "sign in", "/auth/facebook", id: "sign_in", class: 'login-link' %>
       <% end %>
    </ul>
  </div>
</div>

<div id="members" class="page-section">
  <div class="container">
    <h2 class="text-center">Most recent members</h2>
    <div class="most-recent row">
      <% @recent_memebers.each do |user| %>
      <div class="col-md-3 col-sm-3">
        <div class="pull-left user-slider">
          <div class="useravatar text-center"><%= image_tag user.avatar.url(:thumb), :class => "img-circle"%></div>
          <ul>
            <li><a class="user-name" href="/users"><%= user.first_name %> <%=user.last_name %></a></li>

            <li><%= user.location%>
            <li>
              <a class="btn btn-success btn-large" href="/users/sign_up">Follow</a>
            </li>
          </ul>
        </div>

      </div>
       <%end%>
    </div>
  </div>
</div>

<div id="about" class="page-section">
  <div class="container text-center">
    <h1>We are passionate learners</h2>
    <h1 class="text-center">We share learning resources and information with like minded people to be more effective and productive</h1>
  </div>
</div>





