<!--
<div class="jumbotron vertical-center">
  <div class="">
    <div class="home-content">
      <h1 class="text-center">Share knowledge and useful resources with like minded people</h1>
      <p class="text-center">Sign up to learn more or simply visit our site</p>
      <p class="text-center">
        <a class="btn btn-success btn-large" href="#">Visit Our Site</a>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-success btn-large" href="/members">View Recent members</a>
      </p>
    </div>
  </div>
</div>

 Button trigger modal -->

<%= nav_bar :fixed => :top, :brand => "Fashionable Clicheizr 2.0", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_divider %>
        <%= drop_down "Products" do %>
            <%= menu_item "Things you can't afford", expensive_products_path %>
            <%= menu_item "Things that won't suit you anyway", harem_pants_path %>
            <%= menu_item "Things you're not even cool enough to buy anyway", hipster_products_path %>
            <% if current_user.lives_in_hackney? %>
                <%= menu_item "Bikes", fixed_wheel_bikes_path %>
            <% end %>
        <% end %>
        <%= menu_item "About Us", about_us_path %>
        <%= menu_item "Contact", contact_path %>
    <% end %>
    <%= menu_group :pull => :right do %>
        <% if current_user %>
            <%= menu_item "Log Out", log_out_path %>
        <% else %>
            <%= form_for @user, :url => session_path(:user), html => {:class=> "navbar-form pull-right"} do |f| -%>
              <p><%= f.text_field :email %></p>
              <p><%= f.password_field :password %></p>
              <p><%= f.submit "Sign in" %></p>
            <% end -%>
        <% end %>
    <% end %>
<% end %>
