

<div class="row">
  <aside class="subjets-list col-md-4 pull-right">
    <h3>What others are learning in your major</h3>
      <ul>
      <%@subjects.each do |subject| %>
        <li>
          <%= subject%>
        </li>
      <%end%>
      </ul>
  </aside>

  <%if current_user == @user %>
    <h4>Add subjects that you are currently learning</h4>
    <i>This helps you to easily find other students that are learning similar subjects</i>

    <div class="subject-form">
      <%=bootstrap_form_for [current_user, @subject] do |f| %>
        <div class="text-area">
          <%= f.text_field :name, required: true %>
        </div>
        <%= f.submit "Add", class: "btn btn-default" %>
      <% end %>
    </div>

    <div class="row">
      <div class="subjects col-lg-12 col-md-8 col-sm-6 col-xs-5">
        <ul>
          <table>
          <% current_user.subjects.each do |subject| %>
            <tr>
              <td><%= subject.name %></td>
              <td> <%= link_to ' Remove',[current_user, subject], method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
          <%end%>
          </table>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="subjects col-lg-12 col-md-8 col-sm-6 col-xs-5">
        <ul>
          <table>
          <%if @user.subjects.empty? %>
          <p><%= @user.first_name %> hasn't added any subjects</p>
          <%end%>
            <% @user.subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
              </tr>
            <%end%>
          </table>
        </ul>
      </div>
    </div>
  <%end%>
</div>
