
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color:#fff;" href="/users">RUSHBASE</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="home"><a href="/users">Home</a></li>
          <li><%=link_to "Profile", user_path(current_user) %></li>
        </ul>
        <div class="search-bar">
          <ul class="nav navbar-nav pull-left">
            <li>
              <div class="row">
                <%= form_tag('/search', method: "get", id: "search-form", class: "navbar-form navbar-bar form-inline", role: "search") do %>
                  <div class="input-append ">
                    <%= text_field_tag :search, params[:search], placeholder: "search users", class: " form-control serch-query  inputsearch"%>
                    <%= submit_tag "search", class: "btn btn-default", name: nil %>
                  </div>
                <%end%>
              </div>
            </li>
          </ul>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-image"><%= image_tag current_user.avatar.url(:thumb), class: "img-circle nav-image", size:'30x30'%></li>
            <li class="account">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.first_name.capitalize%><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                <li><%= link_to "Edit profile",edit_user_registration_path %></a></li>
                <li><a href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

